/* ================= Reset ================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* ================= Body & Background ================= */
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/road1.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

  
}

/* ================= Game Container ================= */
.game-area {
    width: 380px;
    height: 100%;
    background-image: url(../img/road1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
   
}

/* ================= Start Screen ================= */
.startscreen {
    cursor: pointer;
    width: 90vw;
    max-width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 5px;
    background-image: url(../img/31.jpg);
    background-size: cover;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    z-index: 9999;
}

/* ================= Player Car ================= */
.car {
    position: absolute;
    width: 60px;
    height: 110px;
    bottom: 150px;
    left: 200px;
    background-image: url(../img/99.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================= Game Area ================= */
#gameArea {
    position: absolute;
    width: 100vw;
    max-width: 600px;
    height: 100%;
    background-color: transparent;
    overflow: hidden;

    border-left: 5px solid #11111100; 
    border-right: 5px solid #11111100;
    border-top: none;
    border-bottom: none;

    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ================= Road Lines ================= */
.line {
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 0;
}

/* ================= Score ================= */
.score {
    width: 180px;
    height: 70px;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #f3f2ee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 300px;
    border-radius: 12px;
    background: rgba(0, 80, 11, 0.7);
    text-shadow: 0 0 5px #fff;
   
    z-index: 9999;
    animation: neonPulse 1.5s infinite alternate;
}


/* ================= Enemy Cars ================= */
.enemy {
    position: absolute;
    width: 60px;
    height: 110px;
    bottom: 100px;
    left: 200px;
    background-image: url(../img/2221.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================= Hide Element ================= */
.hide {
    visibility: hidden;
}

/* ================= Audio ================= */
#myAudio {
    display: none;
}

.hossein {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 999;
}

.hossein figure {
  position: fixed;
  bottom: 15px;   /* پایین */
  left: 15px;     /* سمت چپ */
  text-align: center;
}

.hossein figure img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.hossein figure img:hover {
  border-radius: 15px;
  transform: scale(1.2);
}
